:root {
    --navy: #0b1f3a;
    --gray: #444;
    --light-gray: #777;
    --bg: #ffffff;
}

.about-section {
    padding: 30px 0;
    background: var(--bg);
    font-family: Arial, sans-serif;
}

.about-container {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 60px;
}

/* FOTO */
.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-image img {
    width: 340px;
    max-width: 100%;
    border-radius: 18px;
    object-fit: cover;
    /* box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.12); */
}

/* CONTENT */
.about-content {
    flex: 2;
}

.about-content h2 {
    font-size: 48px;
    font-weight: 900;
    color: var(--navy);
    margin-bottom: 18px;
}

.about-desc {
    font-size: 16px;
    line-height: 1.8;
    color: var(--gray);
    max-width: 650px;
    margin-bottom: 35px;
    max-width: 650px;
    text-align: justify;
    text-justify: inter-word;
}

.about-tools h4 {
    font-size: 18px;
    font-weight: 800;
    color: var(--navy);
}

.about-tools p {
    margin: 5px 0;
    color: var(--gray);
    font-size: 15px;
    margin-bottom: 30px;
}


/* INFO GRID */
.about-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 650px;
    text-align: justify;
    text-justify: inter-word;
}

.info-block h4 {
    font-size: 18px;
    font-weight: 800;
    color: var(--navy);
    margin-bottom: 12px;
}

.info-block p {
    margin: 5px 0;
    color: var(--light-gray);
    font-size: 15px;
}

.info-block p strong {
    color: var(--gray);
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-content h2 {
        font-size: 38px;
    }

    .about-info {
        grid-template-columns: 1fr;
    }

    .about-desc {
        margin: auto;
    }
}