:root {
  --navy: #0b1f3a;
  --navy-soft: #12335c;
  --gray: #666;
  --border: rgba(0, 0, 0, 0.08);
}

.cert-section {
  padding: 30px 0px;
  background: #fff;
  font-family: Arial, sans-serif;
}

.cert-title h2 {
  font-size: 44px;
  font-weight: 900;
  color: var(--navy);
  margin-bottom: 10px;
}

.cert-title p {
  color: var(--gray);
  max-width: 650px;
  margin-bottom: 45px;
}

/* Card style */
.cert-card {
  border: 1px solid var(--border);
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
  background: white;
  transition: 0.3s;
  height: 100%;
}

.cert-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.12);
}

.cert-card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.cert-body {
  padding: 14px 16px 18px;
}

.cert-body h5 {
  font-size: 15px;
  font-weight: 800;
  color: var(--navy);
  margin-bottom: 6px;
}

.cert-body p {
  font-size: 13px;
  color: var(--gray);
  margin-bottom: 12px;
}

.cert-year {
  display: inline-block;
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 700;
  color: var(--navy);
  background: rgba(11, 31, 58, 0.08);
}

.cert-container {
  width: 80%;
  margin: auto;
}

/* Wrapper biar gak selebar layar */
.doc-carousel-wrapper {
  max-width: 750px;  /* atur ukuran sesuai mau kamu */
  margin: 30px auto 50px;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0,0,0,0.08);
}

/* gambar tidak terlalu tinggi */
.doc-img {
  height: 360px;
  object-fit: cover;
}

/* caption lebih clean */
#docCarousel .carousel-caption {
  /* background: rgba(11, 31, 58, 0.75); */
  border-radius: 14px;
  padding: 10px 15px;
  bottom: 18px;
}

#docCarousel .carousel-caption h5 {
  font-size: 18px;
  font-weight: 800;
}

#docCarousel .carousel-caption p {
  font-size: 14px;
  margin: 0;
}

@media (max-width: 768px) {
  .doc-img {
    height: 250px;
  }

  #docCarousel .carousel-caption {
    font-size: 12px;
    padding: 8px 10px;
  }
}

.carousel-caption h5,
.carousel-caption p {
  text-shadow: 0px 2px 8px rgba(0,0,0,0.6);
}
