:root {
    --navy: #0b1f3a;
    --navy-soft: #12335c;
    --gray: #666;
    --white: #ffffff;
}

/* HERO SECTION */
.hero-section {
    padding: 50px 0px;
    background: var(--white);
    font-family: Arial, sans-serif;
}

.hero-container {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

/* LEFT TEXT */
.hero-text {
    flex: 1;
}

.hero-intro {
    color: crimson;
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 18px;
}

.hero-title {
    font-size: 64px;
    font-weight: 900;
    color: var(--navy);
    margin-bottom: 12px;
    line-height: 1.1;
}

.hero-role {
    font-weight: 700;
    color: var(--navy-soft);
    margin-bottom: 10px;
    font-size: 22px;
}

.hero-tagline {
    font-style: italic;
}

.hero-tagline {
    margin-top: 0;
}

.hero-desc {
    color: var(--gray);
    font-size: 16px;
    line-height: 1.8;
    max-width: 520px;
}

/* BUTTONS */
.hero-buttons {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.btn-primary-custom {
    background: var(--navy);
    color: white;
    padding: 12px 28px;
    border-radius: 999px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s;
}

.btn-primary-custom:hover {
    background: var(--navy-soft);
    transform: translateY(-2px);
}

.btn-outline-custom {
    border: 2px solid var(--navy);
    color: var(--navy);
    padding: 12px 28px;
    border-radius: 999px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s;
}

.btn-outline-custom:hover {
    background: var(--navy-soft);
    color: white;
}

/* RIGHT IMAGE */
.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

/* efek shadow bulat belakang foto */
.hero-image::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 320px;
    background: rgba(11, 31, 58, 0.08);
    border-radius: 180%;
    z-index: 0;
    top: 50%;
    transform: translateY(-50%);
}

.hero-image img {
    width: 360px;
    height: 360px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 180px;
    padding: 6px;
    background: #0b1f3a;
    position: relative;
    z-index: 1;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.15);
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .hero-container {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .hero-title {
        font-size: 48px;
    }

    .hero-desc {
        margin: auto;
    }

    .hero-buttons {
        justify-content: center;
        flex-wrap: wrap;
    }

    .hero-image::before {
        width: 250px;
        height: 250px;
    }

}